body {
	margin: 2%;
	font-family: "Arial";
	background-color: #3a3a3a;
}

header {
	background-color: #262626;
}

ul li {
	color: #4d004d;
	display: inline;
}

ul {
	display: inline; 
}

a {
	margin: 7px 40px 0px 0px;
	vertical-align: middle;
	text-decoration: none;
	padding: 20px;
	float: right;
}

a:link {
	color: #2c6d57;
}

a:visited {
	color: #2c6d57;
}

a:hover {
	color: #399192;
}

.active {
	color: #2c6d57;
}

h1 {
	text-align: center;
	color: #399192;
	background-color: #262626;
	margin: 0px;
}

p {
	margin: 10px;
}

.binary {
	width: 33%;
}

.logo {
	margin: 1%;
}

.joke {
	text-align: center;
}